@font-face {
font-family: Brandon;
src: url("../fonts/brandon-reg.otf") format("opentype");
}

@font-face {
font-family: Brandon-Light;
src: url("../fonts/brandon-light.otf") format("opentype");
}

html {
	font-family: 'Brandon-Light';
}

.order-table th {
	/*text-align: left;*/
}

.order-form {
	margin: 0 auto;
	width: 70%;
	margin-top: 5%;
}

.orders-container {
	margin-top: 5%;
	border-top: 1px solid #bababa;
}

.product-img,
.product-content {
	text-align: center;
	/*float: left;*/
}

.product-content {
	padding-top: 5%;
	/*padding-left: 5%;*/
}

.product-img > img {
	width: 150px;
    height: 150px;
}

.product-container {
	margin-bottom: 5%;
}